<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <location path="." allowOverride="false">
    <appSettings>
      <add key="Version" value="2.3.0"/>
      <!--<add key="TblMailServer" value="172.22.1.118"/>
      <add key="TblMailServerPort" value="25"/>
      <add key="TblEmailName" value="Trust Bank"/>
      <add key="TblUserName" value="noreply"/>
      <add key="TblPassword" value="itadmin;123"/>
      <add key="TblEmailFrom" value="noreply@trustbanklimited.com"/>-->
      <add key="EmailType" value="EXCHANGE"/>
      <add key="ExchangeUrl" value="https://mail.tblbd.com/ews/Exchange.asmx"/>
      <add key="ExchangeUserName" value="noreply"/>
      <add key="ExchangeUserPassword" value="ITAdmin#069"/>
      <add key="MailBCC" value="ashik.email@gmail.com"/>
      <add key="FbPages" value="TrustBankLimited,TrustBank.MobileMoney,tbslbd,tbilbd"/>
      <add key="TransferLimit" value="40000"/>
      <add key="UtilityLimit" value="40000"/>
      <add key="DailyTransactionLimit" value="100000"/>
      <add key="MonthlyTransactionLimit" value="1000000"/>
      <add key="PerDayNoOfTransaction" value="10"/>
      <add key="PerMonthNoOfTransaction" value="100"/>
      <add key="dTransferLimit" value="40000"/>
      <add key="dUtilityLimit" value="40000"/>
      <add key="dDailyTransactionLimit" value="100000"/>
      <add key="dMonthlyTransactionLimit" value="1000000"/>
      <add key="dPerDayNoOfTransaction" value="4"/>
      <add key="dPerMonthNoOfTransaction" value="100"/>
      <add key="CrystalImageCleaner-AutoStart" value="true"/>
      <add key="CrystalImageCleaner-Sleep" value="60000"/>
      <add key="CrystalImageCleaner-Age" value="120000"/>
    </appSettings>
    <connectionStrings>
      <add name="Request_ProcessConnectionString" connectionString="Data Source=172.20.1.70;Initial Catalog=Request_Process;Persist Security Info=true;User ID=ituser;Password=Fsbank069" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
      <httpRuntime maxRequestLength="2000" enable="true" executionTimeout="2880" enableVersionHeader="false" />
      <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
      <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
      <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
        -->
      <customErrors mode="Off">
        <error statusCode="403" redirect="NoAccess.htm"/>
        <error statusCode="404" redirect="FileNotFound.htm"/>
      </customErrors>
      <httpModules>
        <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </httpModules>
      <sessionState mode="SQLServer" timeout="3600" sqlConnectionString="Data Source=172.20.1.70;Integrated Security=False;User ID=ituser;pwd=Fsbank069" sqlCommandTimeout="30" cookieless="false"/>
      <machineKey validationKey="8B9F68D0CC730F6F046D0173021C34B1A0D9A01C21D8E4D4A7A1DFF38332DEE8CBBAFEA503C18776614EE9D4F7EEA7E5D2D5571630547D822485A27B1EF53AC1" decryptionKey="60009563EFCFC594FD1BC46684943AA398EE70412A624B2EB488BBB071F15ECF" validation="SHA1" decryption="AES"/>
      <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
    </system.web>
  </location>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <security>
      <requestFiltering/>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY" />
      </customHeaders>
    </httpProtocol>
    <modules>
      <!--<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
    </modules>
    <handlers>
      <add name="CombineScriptsHandler" preCondition="integratedMode" verb="*" path="CombineScriptsHandler.axd" type="AjaxControlToolkit.CombineScriptsHandler, AjaxControlToolkit"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <!--<defaultDocument>
            <files>
                <clear/>
                <add value="Default.htm"/>
                <add value="Default.asp"/>
                <add value="index.htm"/>
                <add value="index.html"/>
                <add value="iisstart.htm"/>
                <add value="default.aspx"/>
                <add value="index.php"/>
                <add value="app_offline.htm"/>
            </files>
        </defaultDocument>-->
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
  </system.web>
</configuration>